<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html lang="en">
  <head>
    <link href="/stylesheets/pine.css" type="text/css" rel="Stylesheet" media="screen" />
    <link href="/LearnToProgram/tutorial.css" type="text/css" rel="Stylesheet" media="screen" />
    <title>
      Learn to Program, by Chris Pine
    </title>
    <script language="JavaScript" type="text/javascript" src="http://www.gvisit.com/record.php?sid=6941c11eba5c874197e2096f9c854106">
    </script>
  </head>
  <body>

    <div id="pageWidth">
      <div id="headerBar">
        <div id="titlePicContainer">
          <a href="/LearnToProgram/">
          <img height="108" src="/images/titleLTP.gif" alt="Learn to Program" id="titlePic" width="418" />
          </a>
        </div>
        <a href="/LearnToProgram/">
          <img id="locket" width="82" height="82" alt="just a cute picture" src="/images/locketLTP.png" />
        </a>
      </div>
      <div id="menuPane">
        <img height="38" src="/images/spearup_sm.gif" id="menuSpearTop" width="35" />
        <p class="funnyMenuText fancyMenuText" style="font-size: 12px; font-family: times, serif;">
          the
        </p>
        <p class="funnyMenuText fancyMenuText">
          <em>improved</em>
        </p>
        <p class="funnyMenuText fancyMenuText" style="letter-spacing: 6px; font-variant: small-caps;">
          expanded
        </p>
        <p class="funnyMenuText fancyMenuText">
          version
        </p>
        <a href="http://www.pragprog.com/titles/ltp2/learn-to-program-2nd-edition">
        <img height="200" src="/images/LTP2_cover.jpg" width="167" />
        </a>

        <p class="funnyMenuText fancyMenuText" style="margin-top: 6px;">
          <em>answers now included</em>
        </p>
        <img height="21" src="/images/swirly.gif" style="padding: 30px;" width="64" />
        <p class="funnyMenuText">
          &laquo; the original tutorial &raquo;
        </p>

        <ol start="0" style="padding-top: 15px; padding-bottom: 15px;">
          <li>
            <a href="/chapter/0">Getting Started</a>
          </li>
          <li>
            <a href="/chapter/1">Numbers</a>
          </li>
          <li>
            <a href="/chapter/2">Letters</a>
          </li>
          <li>
            <a href="/chapter/3">Variables and Assignment</a>
          </li>
          <li>
            <a href="/chapter/4">Mixing It Up</a>
          </li>
          <li>
            <a href="/chapter/5">More About Methods</a>
          </li>
          <li>
            <a href="/chapter/6">Flow Control</a>
          </li>
          <li>
            <a href="/chapter/7">Arrays and Iterators</a>
          </li>
          <li>
            <a href="/chapter/8">Writing Your Own Methods</a>
          </li>
          <li>
            <a href="/chapter/9">Classes</a>
          </li>
          <li>
            <a href="/chapter/10">Blocks and Procs</a>
          </li>
          <li>
            <a href="/chapter/11">Beyond This Tutorial</a>
          </li>
        </ol>

        <p>
          (<a href="http://www1.tf.chiba-u.jp/~shin/tutorial/">Japanese translation</a>
          by&nbsp;Shin&nbsp;Nishiyama.)
        </p>
        <p>
          (<a href="http://www.ruby-doc.org/docs/ApprendreProgrammer/Apprendre_a_Programmer.pdf">French translation</a>
          by&nbsp;Jean&#8209;Pierre&nbsp;ANGHEL.)
        </p>
        <p>
          (<a href="http://www.shokhirev.com/mikhail/ruby/ltp/title.html">Russian translation</a>
          by&nbsp;Mikhail&nbsp;Shokhirev.)
        </p>
        <p>
          (<a href="http://gcarst.googlepages.com/komgodtigang">Danish translation</a>
          by&nbsp;Gunner&nbsp;Carstens.)
        </p>
        <p>
          (<a href="http://aprendaaprogramar.rubyonrails.pro.br/">Brazilian Portuguese translation</a>
          by&nbsp;Fabio&nbsp;Akita&nbsp;et&nbsp;al.)
        </p>
        <p>
          (<a href="http://sites.google.com/site/rubynabosanskom/">Bosnian translation</a>
          by&nbsp;Rusmir&nbsp;Gad&#x017E;o.)
        </p>
        <p>
          (<a href="http://groups.google.com.tr/group/ruby_dersleri/web">Turkish translation</a>
          by&nbsp;Niyazi&nbsp;ATE&#350;.)
        </p>
        <img height="40" src="/images/speardown_sm.gif" id="menuSpearBottom" width="36" />
      </div>
      
      <%= yield %>

    </div>
  </body>
</html>
